*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}
html{
    display: flex;
    justify-content: center;
}
body{
    width: 98%;
    height: 100vh;
    display: grid;
    grid-template: 10% 90% / auto;
    
    /*duas linha e uma coluna, primeira linha para o header, segunda linha para o main*/
    
}
/***header***/
header{
    grid-area: 1/1 / 2/2;
    /*ocupara da primeira linha de linha ate a segund ll
    e primeira linha de coluna ate a segunda lc
    */
    display: grid;
    grid: auto / 17% 66% 17%;
    justify-content: space-between;
}
/*primira box do header*/
header > div:first-child{
    grid-area: 1/1 / 2/2;
    gap: 10%;
    display: flex;
    align-items: center;
    position: relative;
}
header > div:first-child div:last-child a{
    display: flex;
    align-items: center;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}
header > div:first-child div:last-child a::before{
    content: url(icones/icons8-reproduzir-youtube.svg);
    width: 3;

    
}
/*segunda box do header*/
header > div:nth-child(2){
    grid-area: 1/2 / 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}
header > div:nth-child(2) > div:first-child{
    display: flex;
    gap: 1%;
    width: 75%;
    height: 60%;
    border: 1px solid #EAEAEA;
}
header > div:nth-child(2) > div:first-child > div:first-child{
    display: flex;
    align-items: center;
    height: 100%;
    flex-basis: 75%; /*define um tamanho inical para o input de 80%*/
}
header > div:nth-child(2) > div:first-child > div:first-child input{
    border: none;
    width: 100%;
    height: 100%;
}
header > div:nth-child(2) > div:first-child > div{
    height: 100%;
    flex-grow: 1; /*define que o espacço restante sera prenchido pelos filhos restantes de formas iguais*/
    display: flex;
    justify-content: center;
    align-items: center;
}
header > div:nth-child(2) > div:first-child > div:nth-child(2){
    background-color: #F0F0F0;
}
header > div:nth-child(2) > div:first-child > div:first-child > div:nth-child(2)::before{
    content: url(icones/keyboard_black_24dp.svg);
}
header > div:nth-child(2) > div:first-child > div:nth-child(2)::before{
    content: url(icones/search_black_24dp.svg);
}
header > div:nth-child(2) > div:first-child > div:nth-child(3)::before{
    content: url(icones/mic_black_24dp.svg);
    background-color: #F9F9F9;
    border-radius: 50%;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*terceiro box dentro de header*/
header > div:last-child{
    grid: 1/3 2/4;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
header > div:last-child div{
    display: flex;
    justify-content: center;
    align-items: center;
}
header > div:last-child div:first-child::before{
    content: url(icones/video_call_black_24dp.svg);
}
header > div:last-child div:nth-child(2)::before{
    content: url(icones/grid_view_black_24dp.svg);
}
header > div:last-child div:nth-child(3)::before{
    content: url(icones/notifications_black_24dp.svg);
}
header > div:last-child div:nth-child(4){
    background-color: black;
    width: 20%;
    height: 70%;
    border-radius: 50%;
}
/***main***/
main{
    grid-area: 2/1 / 3/2;
    /*ocupara a 2 linh de linha ate a terceira ll
    e primeira lihha de coluna ate segunda 
    */
    display: grid;
    grid: 10% 90% / 17% 83%;
}
/*aside*/
main aside{
    grid-area: 1/1 / 3/2;
    /*primeira linha de linha do main ate a terceira ll
    e primeira linha de coluna ate segunda lc
    */
    display: flex;
    flex-direction: column;
    gap: 2%;
    overflow-y: scroll;
}
main aside::-webkit-scrollbar{
    width: 10px;
    /*para definer o tamanho do scrollbar*/
}
main aside::-webkit-scrollbar-track{
    background-color: transparent;
    /*para definir a cor de fundo do scrollbar*/
}
main aside::-webkit-scrollbar-thumb{
    background: grey;
    border-radius: 10px;
    /*estilizacao da barra interna do scrollbarr*/
}
/*linha divisoria*/
main aside hr{
    height: 100%;
    width: 95%;
    border: 0.0.1cm solid #eeeeee;
    /*pra estilizar hr, uma linha divisorio devo usar a propriedade border
    */
}
main aside > div{
    display: flex;
    flex-direction: column;
}
main aside > div > div{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 95%;
    height: 38px;
    
}
main aside > div > div:hover{
    background-color: #ECECEC;
}
/*primeira box do aside*/
main aside > div:first-child > div:nth-child(1)::before{
    content: url(icones/home_black_24dp.svg);
}
main aside > div:first-child > div:nth-child(2)::before{
    content: url(icones/explore_black_24dp.svg);
}
main aside > div:first-child > div:nth-child(3)::before{
    content: url(icones/contacts_black_24dp.svg);
}
/*segunda box do aside*/
main aside > div:nth-of-type(2) > div:first-child::before{
    content: url(icones/video_library_black_24dp.svg);
}
main aside > div:nth-of-type(2) > div:nth-child(2)::before{
    content: url(icones/history_black_24dp.svg);
}
main aside > div:nth-of-type(2) > div:nth-child(3)::before{
    content: url(icones/smart_display_black_24dp.svg);
}
main aside > div:nth-of-type(2) > div:nth-child(4)::before{
    content: url(icones/av_timer_black_24dp.svg)
}
main aside > div:nth-of-type(2) > div:nth-child(5)::before{
    content: url(icones/thumb_up_off_alt_black_24dp.svg);
}
main aside > div:nth-of-type(2) > div:nth-child(6)::before{
    content: url(icones/expand_more_black_24dp.svg);
}
main aside > div:nth-of-type(2) > div:nth-child(5) span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /*overflow > define o que fazer com o conteudo estourado, ou que é maior que o espaço disponivel
    valor visible > o estouro fica visivel é o valor padrao, onde o conteudo estourado fica visivel e passa do espaço disponivel
    valor hidden > oculta, corta o estouro, o estoura ja nao aparece ele é cortado
    valor scroll > é adicionado um scroll(barra de rolagem) pra que o usuario consiga ver o estouro apenas movimentando esse estouro
    */
    /*white-space define se o texte quebra ou nao
    valor normal > o texto quebrara pra se adequar ao elemento pai
    nowrap > o texto nao quebrara, mesmo se o espaço do sei pai nao for suficiente
    */
    /*text-overflow > define o que sera feito com o texto estourado que esta oculto.para ser usado o overflow e white-space devem estar definidos como hidden e norap respectivamente
    valor clip > corta o texto estourado
    valor ellipsis > adiciona reticencias (...) antes do texto ser cortado para indicar que existe um texto restante
    OBS: text-overflow funciona apenas no elemento que contenha o texto, nesse caso o span
    */
}
/*terceira box do aside*/
main aside > div:nth-of-type(3) > div:not(div:last-child):before{
    content: "";
    width: 30px;
    height: 80%;
    border-radius: 50%;
    background-color: black;
}
main aside > div:nth-of-type(3) > div:last-child::before{
    content: url(icones/add_circle_outline_black_24dp.svg);
}
/*quarta box do aside*/
main aside > div:nth-of-type(4) > div:nth-child(2)::before{
    content: url(icones/workspace_premium_black_24dp.svg);
}
main aside > div:nth-of-type(4) > div:nth-child(3)::before{
    content: url(icones/local_movies_black_24dp.svg);
}
main aside > div:nth-of-type(4) > div:nth-child(4)::before{
    content: url(icones/videogame_asset_black_24dp.svg);
}
main aside > div:nth-of-type(4) > div:nth-child(5)::before{
    content: url(icones/online_prediction_black_24dp.svg);
}
main aside > div:nth-of-type(4) > div:nth-child(6)::before{
    content: url(icones/lightbulb_black_24dp.svg);
}
main aside > div:nth-of-type(4) > div:nth-child(7)::before{
    content: url(icones/emoji_events_black_24dp.svg);
}
/*quinta box do aside*/
main aside > div:nth-of-type(5) > div:first-child::before{
    content: url(icones/settings_black_24dp.svg);
} 
main aside > div:nth-of-type(5) > div:nth-child(2)::before{
    content: url(icones/flag_black_24dp.svg);
} 
main aside > div:nth-of-type(5) > div:nth-child(3)::before{
    content: url(icones/help_outline_black_24dp.svg);
} 
main aside > div:nth-of-type(5) > div:nth-child(4)::before{
    content: url(icones/rate_review_black_24dp.svg);
} 
/*footer do aside*/
main aside footer{
    display: flex;
    flex-direction: column;
    gap: 10px
}
main aside footer a{
    color: gray;
    font-size: .9rem;
}
/***section das tags***/
main section#tags{
    grid-area: 1/2 / 2/3;
    /*primeira linha de linha ate segunda ll
    e segunda linha de coluna ate terceira lc 
    */
    overflow: hidden;
}
main section#tags > div:only-of-type{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}
main section#tags > div:only-of-type div{
    height: 28px;
    padding: 10px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:  20px;
}
main section#tags > div:only-of-type div span{
    font-size: .9rem;
    white-space: nowrap;
    /*
    nao dou tamanho especifico para o span, logo nao consigo usar essas duas propriedade que seriam usadas para indicar o texto estourado
    text-overflow: ellipsis;
    overflow: hidden;
    */
}
main section#v_inicio{
    grid-area: 2/2 / 3/3;
    /*segunda linha de linha ate terceira ll
    segunada linha de coluna ate terceira lc
    */
    overflow-y: scroll;
}
main section#v_inicio::-webkit-scrollbar{
    width: 10px;
}
main section#v_inicio::-webkit-scrollbar-track{
    background-color: white; 
}
main section#v_inicio::-webkit-scrollbar-thumb{
    background: grey;
    border-radius: 10px;

}
/*container dos cards*/
main section#v_inicio > div:only-child {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}
/*cards*/
main section#v_inicio > div:only-child > div{
    width: 240px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
/*quando o mouse pairar sobre o card, o ultimo filho do card, que é a div com os icones laterais do card tera o display flex*/
main section#v_inicio > div:only-child > div:hover div:last-child{
    display: flex;
}
main section#v_inicio > div:only-child > div div:first-child{
    display: flex;
}
main section#v_inicio > div:only-child > div img{
    width: 100%;
    height: 100%;
}
/*segunda box do carde(titulo do video e perfil dos canais, nome dos canais e viwes)*/
main section#v_inicio > div:only-child > div div:nth-child(2) span:not(span:first-child){
    font-size: .8rem;
}
main section#v_inicio > div:only-child > div div:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 10px;
}
main section#v_inicio > div:only-child > div div:nth-child(2) span:first-child{
    display: flex;
    gap: 10px;
}
main section#v_inicio > div:only-child > div div:nth-child(2) span:first-child::before{
    content: "";
    width: 45px;
    height: 100%;
    border-radius: 50%;
    background-image: url(imagens/hq720_live.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-color: black;
}
/*ultima box dos cards (icones laterais, assistir mais tarde e adicionar a playlist)*/
main section#v_inicio > div:only-child > div div:last-child{
    display: none;
    flex-direction: column;
    gap: 5px;
    z-index: 2;
    position: absolute;
    top: 10px;
    right: 5px;
}
main section#v_inicio > div:only-child > div div:last-child span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: black;
}
main section#v_inicio > div:only-child > div div:last-child span:first-child::before{
    content: url(icones/schedule_black_24dp.svg);

}
main section#v_inicio > div:only-child > div div:last-child span:last-of-type::before{
    content: url(icones/playlist_play_black_24dp.svg);
}